@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
*{
    padding: 0px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
}
h1, h2 {
    font-family: 'Fraunces', sans-serif;
}
p, a, h3{
    font-family: 'Barlow', sans-serif;
}
a{
    text-decoration: none;
}
nav, main, footer{
    min-width: 320px;
}
nav{
    width: 100%;
    height: 150vw;
    background-image: url('./images/mobile/image-header.jpg');
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr;

    justify-items: center;

    position: relative;
}
nav h1{
    text-transform: uppercase;
    font-size: 36px;

    text-align: center;
    color: white;
}
nav div.logo-top{
    grid-row: 1;
    grid-column: 1;

    justify-self: start;

    padding-left: 25px;
    padding-top: 25px;
}
nav div.burger{
    grid-row: 1;
    grid-column: 2;

    justify-self: end;

    padding-right: 25px;
    padding-top: 25px;    
}
nav div.creative{
    grid-row: 2;
    grid-column: 1 / span 2;

    align-self: end;
}
nav div.arrow{
    grid-row: 3;
    grid-column: 1 / span 2;

    align-self: start;
}
nav div.menu{
    position: absolute;
    display: none;/*flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding-top: 35px;
    padding-bottom: 35px;
    row-gap: 35px;

    width: 85vw;
    top: 100px;
    right: 25px;

    background-color: #fffbf8;
}
nav div.menu svg{
    position: absolute;
    top:-30px;
    left: calc(85vw - 40px); 
}
nav div.menu a{
    color: #73717c;

    display: block;
    width: 130px;
    text-align: center;
    
    padding-top: 12px;
    height: 45px;

    border-radius: 20px;
}
nav div.menu a:hover{
    background-color: #fbd601;
    text-transform: uppercase;

    font-family: 'Fraunces', sans-serif;
}

main{
    background-color: #fffbf8;
    padding-bottom: 100px;    
}
section.why{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.why div.why-item{
    width: 320px;
    height: 267px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}
section.why div.why-item h1{
    text-align: center;
    color:#252f41
}
section.why div.why-item p{
    text-align: center;
    line-height: 2;
    color: #88868f;
}
section.why div.why-item a.learn-more{
    text-transform: uppercase;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;

    position: relative;
    top: -12px
}
section.why div.why-item .line{
    box-sizing: border-box;
    height: 8px;
    border-radius: 5px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}
section.why div.why-item .line.one{
    background-color: #fff4ba;
}
section.why div.why-item .line.two{
    background-color: #ffdad3;
}
section.why div.why-item:nth-child(2), section.why div.why-item:nth-child(4){
    margin-top: 50px;
    margin-bottom: 70px;
}
section.why div.egg.why-item{
    width: 100vw;
    height: 110vw;

    padding: 0px 0px;
}
section.why div.egg.why-item img{
    width: 100vw;
    height: 110vw;
}
section.why div.glass.why-item{
    width: 100vw;
    height: 110vw;

    padding: 0px 0px;
}
section.why div.glass.why-item img{
    width: 100vw;
    height: 110vw;
}
section.service{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
section.service div.service-item{
    display: flex;
    flex-direction: column;

    align-items: center;

    height: 160vw;
    justify-content: flex-end;
    padding-bottom: 50px;

    padding-left: 10px;
    padding-right: 10px;
} 
section.service div.service-item p{
    text-align: center;
    margin-top: 25px;
}
section.service div.service-item h1{
    text-transform: capitalize;
}
section.service div.graphic-design{
    background-image: url("./images/mobile/image-graphic-design.jpg");
    background-size: cover;  
}
section.service div.graphic-design h1{
    color: #1f554b;
}
section.service div.graphic-design p{
    color: #367467;
}
section.service div.photography{
    background-image: url("./images/mobile/image-photography.jpg");
    background-size: cover;  
}
section.service div.photography h1{
    color: #1f5370;
}
section.service div.photography p{
    color: #0c5a7d;

}
section.testimonials{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
section.testimonials .testimonials-item{
    align-self: center;
}
section.testimonials h1.testimonials-item{
    text-transform: uppercase;
    color: #a5a7a6;

    font-size: 19px;
}
section.testimonials div.testimonials-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 15px;

}
section.testimonials div.testimonials-item img{
    border-radius: 50% 50%;
    width: 80px;
    height: 80px;
}
section.testimonials div.testimonials-item p{
    text-align: center;
    color: #6b6a6b;
    margin-top: 30px;
    margin-bottom: 30px;
}
section.testimonials div.testimonials-item h2{
    margin-bottom: 10px;
    font-size: 22px;
}
section.testimonials div.testimonials-item h3{
    color: #acabaa;
    font-size: 18px;
}
footer{
    display: flex;
    flex-direction: column;

    background-color: #90d4c5;
}
footer div.footer-content{
    display: flex;
    flex-direction: column;
    row-gap: 0px;

    align-items: center;
}
footer div.creative-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    row-gap: 0px;
    column-gap: 0px;

    align-items: center;
    justify-items: center;
}
footer div.creative-images .creative-image-item{
    width: 50vw;
    height: 50vw;
}
footer div.creative-images .creative-image-item img{
    width: 100%;
    height: 100%;
}
footer div.footer-content div.footer-content-item:nth-child(1){
    margin-top: 50px;
}
footer div.footer-content div.footer-content-item:nth-child(1) svg.footer-icon path{
    fill: #2e7565;
}
footer div.footer-content div.footer-content-item:nth-child(2){
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    column-gap: 5vw;

    font-size: 18px;
}
footer div.footer-content div.footer-content-item:nth-child(2) a{
    color: #4b8f80;

    cursor: pointer;
}
footer div.footer-content div.footer-content-item:nth-child(2) a:hover{
    color: white;
}
footer div.footer-content div.footer-content-item:nth-child(3){
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: row;
    column-gap: 35px;
}
footer div.footer-content div.footer-content-item:nth-child(3) img{
    width: 30px;
    height: 30px;
}
footer div.footer-content div.footer-content-item:nth-child(3) img:hover{
    fill: white;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
